@import 'normalize';

body {
  font-family: 'Rubik', sans-serif;
  line-height: 170%;

  code {
    display: inline-block;
    letter-spacing: 1px;
    background-color: #F0F0F0;
    font-family: "Comic Sans MS";
    background: -webkit-linear-gradient(#f4b642, #f441d6);
    // -webkit-background-clip: transparent;
    -webkit-text-fill-color: transparent;
  }
}

/* Código de la tabla aquí */
